@import url("normalize.css");

* {
  margin: 0;
  padding: 0;
  
  font-family: 'Montserrat', sans-serif;

  box-sizing: border-box;
}


/*PAGE*/


body {
  min-width: 1000px; 
  margin: 0 auto;

  background-color: white;  
}


/*ALL LINKS */


a {
  text-decoration: none;
  color: black;
}


/*HEADER*/


header {
  padding: 0 0 160px;
  
  background-image: url(../img/pic/header.jpg);
  background-color: rgb(54, 53, 55);
  background-size: cover;
}

.top {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;

  text-align: center;

  background-color: rgba(54, 53, 55, 0.3);
}

.top-center {
  max-width: 940px;
  padding-top: 45px;
  margin: auto;
  overflow: hidden;

  text-align: right;
}

.logo {
  float: left;
  display: inline-block;
  padding-left: 7px;

  vertical-align: middle;
}

.logo img {
  vertical-align: bottom;
}

nav {
display: inline-block;
text-align: right;
vertical-align: top;

font-size: 0;
}

.menu {
  padding-top: 6px;
}

.menu li {
  display: inline-block;
  margin-left: 40px;

  vertical-align: top;

  list-style-type: none;
}

.menu a:hover {
  text-decoration: underline;
  color: rgb(254, 209, 54);
}

.menu a {
  font-size: 14px;
  text-transform: uppercase;

  color: rgb(255, 255, 255);
 }

.header-center {
  max-width: 940px;
  margin: auto;
  padding-top: 245px;

  text-align: center;
}

.title {
  margin: 0 auto;

  text-align: center;
}

header h1 {
  font-size: 39px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-weight: 400;
  text-transform: capitalize;

  color: rgb(255, 255, 255);
}

header .title p {
  margin-bottom: 46px;

  font-size: 73px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;

  color: rgb(255, 255, 255);
}

.header-button {
  display: inline-block;
  text-align: center;
}

.header-button a {
  display: block;
  padding: 21px 52px;
  
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;

  color: rgb(255, 255, 255);
  border-radius: 3px;
  border: none;
  background-color: rgb(254, 209, 54);
}

.header-button:hover {
  text-shadow: 1px 1px 2px gray;
}

/*ALL TITLES OF SECTIONS*/


h3 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;

  color: rgb(34, 34, 34);
}

h4 {
  margin-top: 8px;

  font-family: 'Droid Serif', serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;

  color: rgb(119, 119, 119);
}


/*SERVICES*/


.services {
  padding-top: 111px;
  padding-bottom: 115px;
}

.services-center {
  max-width: 990px;
  margin: auto;

  text-align: center;
}

.services-wrapper {
  margin-top: 77px;

  font-size: 0;
}

div[class*="icon"] {
  position: relative;

  height: 72px;
  width: 72px;
  margin: 0 auto 21px;

  border: solid 3px rgb(254, 209, 54);
  border-radius: 50%;
  box-sizing: border-box;
}

div[class*="icon"]:after {
  content:' ';
  position: absolute;
  top:50%;
  left:50%;

  display: block;
  
  transform: translate(-50%, -50%);
}

.icon-basket:after {
  width: 40px;
  height: 39px;
  
  background-image: url(../img/icon/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -10px -10px;
}

.icon-laptop:after {
  width: 41px;
  height: 35px;

  background-image: url(../img/icon/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -70px -10px;
}

.icon-locked:after {
  width: 29px;
  height: 38px;
  
  background-image: url(../img/icon/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -131px -10px;
}

.services-container {
  display: inline-block;
  width: 33.333%;

  vertical-align: top;
}


/*ALL SUBTITLES*/


h5 {
  font-size: 18px;
  font-weight: bold;
}

.services-container > p {
  max-width: 285px;
  margin: auto;
  padding-top: 10px;

  font-size: 13.5px;
  font-family: 'Roboto Slab', serif;
  line-height: 1.6em;

  color: rgb(119, 119, 119);
}


/*PORTFOLIO*/


.portfolio {
  padding: 111px 0 120px; 
  background-color: rgb(247, 247, 247); 
}

.portfolio-center {
  max-width: 960px;
  margin: auto;

  text-align: center;
}

.portfolio-wrapper {
  margin-top: 76px;

  font-size: 130px;
}

.portfolio-container {
  display: inline-block;
  width: 290px;
  overflow: hidden;

  vertical-align: top;
  font-size: 0;

  background-color: white;
}

.portfolio-container:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.portfolio-container:nth-child(1n+4) {
  margin-top: 50px;
}

.portfolio-container img {
  position: relative;
  left: 50%;

  height: 300px;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.portfolio-text {
  margin: 0 auto; 
  padding-top: 25px;
  padding-bottom: 29px;
}

.portfolio-container h5 {
  color: rgb(51, 51, 51);
}

.portfolio-container p {
  font-size: 14px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  
  color: rgb(115, 115, 115);
}


/*ABOUT US*/


.about {
  padding: 110px 0 118px; 
}

.about-center {
  max-width: 900px;
  margin: auto;

  text-align: center;
}

.about-wrapper {
  margin-top: 77px;
}

.about-container {
  position: relative;

  font-size: 0;
  text-align: center;
}

.about-container:nth-last-child(n+2):after {
  content: "";

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;

  display: block;
  width: 3px;
  margin: 0 auto;

  background-color: rgb(241, 241, 241);
}

.info, .circle, .empty {
  display: inline-block;
  vertical-align: top;
}

.info, .empty {
  width: 50%;
  max-width: 350px;
  padding-top: 4px;
}

.about-container:nth-child(odd) .info {
  padding-right: 40px;
  text-align: right;
}

.about-container:nth-child(even) .info {
  padding-left: 40px;
  text-align: left;
}

.info .upper {
  padding-bottom: 3px;

  text-transform: uppercase;
  line-height: 1.2;
  
  color: rgb(34, 34, 34);
 }

 .info h5:nth-of-type(even) {
  margin-bottom: 0.7em;
 }

.info p {
  font-family: 'Roboto Slab', serif;
  font-size: 13.5px;
  line-height: 1.64em;

  color: rgb(119, 119, 119);
}

.circle {
  position: relative;
  z-index: 10;

  width: 182px;
  height: 182px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  border: solid 7px rgb(241, 241, 241);
  border-radius: 50%;
  background-color: rgb(241, 241, 241);
}

.circle:nth-last-child(n+2) {
  margin-bottom: 94px;
}

.about-container:last-child .circle {
  background-color: rgb(254, 209, 54);
}

.about-container:last-child p {
  position: relative;
  top: 50%;

  max-width: 106px;
  margin: auto;

  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(253, 184, 24, 0.7);

  color: rgb(255, 255, 255);

  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}



/*TEAM*/


.team {
  padding-top: 110px;
  padding-bottom: 115px;

  text-align: center;

  background-color: rgb(249, 249, 249);
}

.second-teAM {
  background-color: grey;
}

.team-center {
  max-width: 840px;
  margin: auto;
}

.team h4 {
  padding-top: 5px;
}

.team-wrapper {
  margin-top: 83px;

  font-size: 0;
}

.team-container {
  display: inline-block;
  width: 33.333%;
  padding-left: 30px;
  padding-right: 30px;

  vertical-align: top;
}

.photo {
  width: 220px;
  height: 220px;

  border-radius: 50%;
  background-color: rgb(17, 17, 17);
}

.name {
  padding-top: 23px;
  padding-bottom: 2px;

  font-size: 16px;
  font-weight: bold;

  color: rgb(34, 34, 34);
}

.profession {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;

  color: rgb(119, 119, 119);
}

.social {
  padding-top: 13px;

  font-size: 0;
  vertical-align: top;
}

.personal-social {
  position: relative;
  display: inline-block;
  
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;

  border-style: solid;
  border-width: 3px;
  border-color: rgb(34, 34, 34);
  border-radius: 50%;
  
  background-color: rgb(249, 249, 249);
 }

.personal-social:after {
  content:' ';
  position: absolute;
  top:50%;
  left:50%;

  display: block;
  
  transform: translate(-50%, -50%);
}

.facebook:after {
  width: 11px;
  height: 19px;

  background-image: url(../img/icon/social-spritesheet.png);
  background-repeat: no-repeat;
  background-position: -15px -15px;
}

div[class*="facebook"]:hover {
  border-color: rgb(59, 89, 152);
  background-color: rgb(59, 89, 152);
}

.facebook:hover:after {
  background-image: url(../img/icon/social-spritesheet.png);
  background-repeat: no-repeat;
  background-position: -198px -15px;
}

.google:after {
  width: 17px;
  height: 17px;

  background-image: url(../img/icon/social-spritesheet.png);
  background-repeat: no-repeat;
  background-position: -56px -15px;
}

div[class*="google"]:hover {
  border-color: rgb(217, 82, 50);
  background-color: rgb(217, 82, 50);
}

.google:hover:after {
  background-image: url(../img/icon/social-spritesheet.png);
  background-repeat: no-repeat;
  background-position: -239px -15px;
}

.pinterest:after {
  width: 16px;
  height: 21px;

  background-image: url(../img/icon/social-spritesheet.png);
  background-repeat: no-repeat;
  background-position: -103px -15px;
}

div[class*="pinterest"]:hover {
  border-color: rgb(203, 32, 40);
  background-color: rgb(203, 32, 40);
}

.pinterest:hover:after {
  background-image: url(../img/icon/social-spritesheet.png);
  background-repeat: no-repeat;
  background-position: -286px -15px;
}

.twitter:after {
  width: 19px;
  height: 16px;

  background-image: url(../img/icon/social-spritesheet.png);
  background-repeat: no-repeat;
  background-position: -149px -15px;
}

div[class*="twitter"]:hover {
  border-color: rgb(0, 172, 237);
  background-color: rgb(0, 172, 237);
}

.twitter:hover:after {
  background-image: url(../img/icon/social-spritesheet.png);
  background-repeat: no-repeat;
  background-position: -333px -15px;
}

.team-wrapper > p {
  max-width: 650px;
  margin: 0 auto;
  padding-top: 47px; 

  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  line-height: 1.5;
  
  color: rgb(119, 119, 119);
}


/*PARTNERS*/


.partners {
  padding-top: 60px;
  padding-bottom: 60px;

  text-align: center;
}

.partners-center {
  max-width: 790px;
  margin: auto;

  font-size: 0;
}

.partners-center a {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

.partners-center a:nth-child(1) {
  padding-right: 10px;
}

.partners-center a:nth-child(2) {
  padding-left: 10px;
}

.partners-center a:nth-child(3) {
  padding-left: 18px;
}

.partners-logo {
  height: 44px; 
}

.envato {
  background-image: url(../img/logo/envato.png);
  background-repeat: no-repeat;
  background-position: center;
}

.wordpress {
  background-image: url(../img/logo/wordpress.png);
  background-repeat: no-repeat;
  background-position: center;
}

.tuts {
  background-image: url(../img/logo/tuts.png);
  background-repeat: no-repeat;
  background-position: center;
}

.microlancer {
  background-image: url(../img/logo/microlancer.png);
  background-repeat: no-repeat;
  background-position: center;
}


/*CONTACTS */


.contact {
  padding-top: 100px;
  padding-bottom: 115px;
  
  text-align: center;

  background-color: rgb(34, 34, 34);
  background-image: url(../img/pic/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-center {
  max-width: 942px;
  margin: auto;
}

.contact h3 {
  color: rgb(255, 255, 255);
}

.contact h4 {
  padding-top: 4px;
}

.contact-form {
  padding-top: 75px;

  font-size: 0px; 
}

.form-column {
  display: inline-block;
  width: 50%;

  text-align: left;
  vertical-align: top;
}

.form-column:nth-child(2) {
  text-align: right;
}

input {
  display: block;
  width: 100%;
  max-width: 456px;
  height: 51px;
  margin-bottom: 29px;

  border: solid 1px rgb(204, 204, 204);
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
}

textarea {
  width: 100%;
  max-width: 456px;
  height: 211px;
  margin-bottom: 30px;

  border: solid 1px rgb(204, 204, 204);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

input, textarea {
  padding: 15px 18px;

  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;

  color: rgb(187, 187, 187);
}

.contact-form button {
  width: 239px;
  height: 64px;
  padding-left: 2px;

  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  border-radius: 3px;
  border: none;
  background-color: rgb(254, 209, 54);

  color: rgb(255, 255, 255);
}

button:hover {
  text-shadow: 1px 1px 2px gray;
}


/*COPYRIGHTS*/


.bottom {
  padding-top: 20px;
  padding-bottom: 30px;
}

.bottom-center {
  max-width: 940px;
  margin: auto;

  font-size: 0;
  text-align: center;
}

.bottom-column {
  display: inline-block;
  width: 33.333%;
  max-width: 313.33px;

  vertical-align: middle;
}

.rights, .rights a {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  
  color: rgb(85, 85, 85);
}

.rights a:hover {
  color: rgb(34, 34, 34);
  text-decoration: underline;
}

address {
  font-size: 0;
  vertical-align: top;
}

.company-social {
  position: relative;
  display: inline-block;
  
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;

  border-style: solid;
  border-width: 3px;
  border-color: rgb(34, 34, 34);
  background-color: rgb(34, 34, 34);
  border-radius: 50%;
 }

.company-social:after {
  content:' ';
  position: absolute;
  top:50%;
  left:50%;

  display: block;
  
  transform: translate(-50%, -50%);
}

.white-facebook:after {
  width: 11px;
  height: 19px;

  background-image: url(../img/icon/social-spritesheet.png);
  background-repeat: no-repeat;
  background-position: -198px -15px;
}

.white-google:after {
  width: 17px;
  height: 17px;

  background-image: url(../img/icon/social-spritesheet.png);
  background-repeat: no-repeat;
  background-position: -239px -15px;
}

.white-pinterest:after {
  width: 16px;
  height: 21px;

  background-image: url(../img/icon/social-spritesheet.png);
  background-repeat: no-repeat;
  background-position: -286px -15px;
}

.white-twitter:after {
  width: 19px;
  height: 16px;

  background-image: url(../img/icon/social-spritesheet.png);
  background-repeat: no-repeat;
  background-position: -333px -15px;
}





